@media (min-width: 320px) and (max-width: 575px){
    
/*================menu_bar satrt=====================*/
   
    #menu_bar .menu_inner .logo{
        width: 70px;
     
        margin-right: 10px;
    }
    #menu_bar .menu_inner .logo a{
        font-size: 20px;
    }
    #menu_bar .menu_inner .details_head{
        width: 210px;
       
    }
    #menu_bar .menu_inner .details_head a{
        padding: 0 5px;
        
         font-size: 16px;
    }
    /*================menu_bar end=====================*/
    
    /*================banner_part satrt=====================*/
    #banner_part{
        width: 320px;
    }
    #banner_part .overlay{
       padding-top: 0;
        padding-bottom: 50px;
    }
    #banner_part h1{
         margin-left: 0;
        font-size: 40px;
        width: 320px;
    }
    #banner_part img{
        margin-left: 60px;
        height: 30px;
    }
    #banner_part .book_see{
        width: 320px;
    }
    #banner_part .book_see a{
        margin-top: 10px;
    }
    #banner_part .overlay .item{
        padding-top: 80px;
    }
    
     /*================banner_part end=====================*/
    
      /*================just_part satrt=====================*/
    
    #just_part{
        width: 320px;
    }
    #just_part .item{
        width: 320px;
    }
    #just_part .item h2{
        margin-left: 0;
        margin-top: 50px;
    }
    #just_part .item p{
        padding: 0;
        margin-right: 20px;
    }
    #just_part .sig{
        margin-left: 20px;
    }
    #just_part .plate img{
        width: 325px;
        margin-top: 20px;
    }
    /*================just_part end=====================*/
    
    
    /*================#fine_part start=====================*/
    #fine_part{
        width: 320px;
    }
    #fine_part .item{
        width: 320px;
    }
    #fine_part .item h2{
        margin-top: 40px;
        margin-right: 15px;
    }
    #fine_part .item p{
        padding: 0 20px;
        text-align: right;
    }
    #fine_part .item .round_img img{
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }
    #fine_part .item .round_img{
        margin-top: -40px;
    }
    
    
    
    
    /*================#fine_part end=====================*/
    
    
     /*================appetis_part start=====================*/
    #appetis_part{
        padding: 50px 0;
    }
    #appetis_part .appetisers{
        width: 320px;
    }
    #appetis_part .appetisers .head img{
        margin-bottom: 20px;
    }
    #appetis_part .appetisers .budge{
        margin-top: 0;
    }
    #appetis_part .appetisers .budge h2{
        margin-left: -40px;
    }
    #appetis_part .appetisers .budge h2 span{
        margin-left: 140px;
    }
    #appetis_part .appetisers .budge h2::after{
        width: 80%;
        left: 42px;
    }
    #appetis_part .appetisers .budge p{
        margin-left: 0;
    }
    #appetis_part .appetisers .budge h2.side{
        padding-left: 10px;
    }
    #appetis_part .appetisers .budge h2 span.long{
        margin-left: 57px;
    }
    #appetis_part .appetisers.res_side{
        
        margin-left: -97px;
    }
    #appetis_part .res_side .budge h2.side{
       
    }
    #appetis_part .appetisers .budge h2 span.long2{
        margin-left: 105px;
    }
    #appetis_part .appetisers.upper{
        margin-top: 0;
        margin-left: -97px;
    }
    #appetis_part .appetisers .budge h2 span.long3{
        margin-left: 45px;
    }
    #appetis_part .appetisers .budge h2 span.long4{
        margin-left: 87px;
    }
    #appetis_part .appetisers .budge h2 span.long5{
        margin-left: 135px;
    }
    #appetis_part .appetisers.salads{
        margin-top: 0;
    }
    
    /*================appetis_part end=====================*/
    
    /*===============guest_part start====================*/
    #guest_part{
        
    }
    #guest_part .item{
        width: 320px;
        margin-left: -5px;
    }
    #guest_part .item h2{
        margin-top: 40px;
        margin-left: -15px;
    }
    #guest_part .item p{
        padding: 0 10px;;
        margin-bottom: 50px;
        margin-left: -10px;
        font-size: 16px;
    }
    #guest_part .item img{
        width: 150px;
    }
    #guest_part .item p span{
        top: 0;
        left: 10px;
        font-size: 10px;
    }
    /*===============guest_part start====================*/
    
    
    
    /*================right_part start===================*/
    #right_part{
      position: relative;
    }
    #right_part .item{
        width: 280px;
        margin-left: -90px;
    }
    #right_part .res_right{
        width: 150px;
        margin-left: -10px;
        margin-top: 330px;
    }
    #right_part .res_up{
        margin-left: 150px;
        margin-top: -260px;
    }
    #right_part .item .text img{
        width: 180px;
    }
    #right_part .item .text{
        position: absolute;
        top: -700px;
        left: -85px;
        opacity: 1;
        width: 300px;
    }
    #right_part .item .form_part{
        margin-left: -5px;
        margin-top: 20px;
    }
    #right_part .item .form_part form input{
        width: 145px;
       
        margin-left: -10px;
    }
    #right_part .item .form_part p{
        margin-left: -10px;
    }
     #right_part .item .form_part2{
        margin-left: -5px;
        margin-top: 20px;
    }
    #right_part .item .form_part2 form input{
        width: 145px;
       
        margin-left: -10px;
    }
    #right_part .item .form_part2 p{
        margin-left: -10px;
    }
    #right_part .item button{
        margin-left: 20px;
    }
    /*================right_part end===================*/
    
    
    
    /*================footer_part start==================*/
    
    #footer_part .item{
        width: 320px;
        margin-left: -13px;
    }
    #footer_part .item.open{
        margin-left: -24px;
        margin-top: 20px;
    }
    #footer_part .open p{
        margin-left: 75px;
    }
    #footer_part .item .head img{
        width: 135px;
    }
    #footer_part .open .img{
        margin-top: 10px;
    }
    #footer_part .res_location{
        margin-top: 40px;
    }
    #footer_part .item .head img{
        margin-top: -15px;
    }
    .my h2{
        font-size: 16px;
        margin-left: 18px;
    }
     /*================footer_part end==================*/
}
    
@media (min-width: 576px) and (max-width: 767px){
    
/*================menu_bar satrt=====================*/
   
    #menu_bar .menu_inner .logo{
        width: 70px;
     
        margin-right: 10px;
    }
    #menu_bar .menu_inner .logo a{
        font-size: 20px;
    }
    #menu_bar .menu_inner .details_head{
        width: 210px;
       
    }
    #menu_bar .menu_inner .details_head a{
        padding: 0 5px;
        
         font-size: 16px;
    }
    /*================menu_bar end=====================*/
    
    /*================banner_part satrt=====================*/
    #banner_part{
        width: 576px;
    }
    #banner_part .overlay{
       padding-top: 0;
        padding-bottom: 50px;
    }
    #banner_part h1{
         margin-left: 0;
        font-size: 50px;
        width: 576px;
    }
    #banner_part img{
        margin-left: 170px;
        height: 30px;
    }
    #banner_part .book_see{
        width: 576px;
    }
    #banner_part .book_see a{
        margin-top: 10px;
    }
    #banner_part .overlay .item{
        padding-top: 80px;
    }
    
     /*================banner_part end=====================*/
    
      /*================just_part satrt=====================*/
    
    #just_part{
         width: 576px;
    }
    #just_part .item{
         width: 576px;
    }
    #just_part .item h2{
        margin-left: -15px;
        margin-top: 50px;
    }
    #just_part .item p{
        padding: 0;
        margin-right: 50px;
    }
    #just_part .sig{
        margin-left: 20px;
    }
    #just_part .plate img{
        width: 500px;
        margin-top: 20px;
        margin-left: 25px;
    }
    /*================just_part end=====================*/
    
    
    /*================#fine_part start=====================*/
    #fine_part{
        width: 576px;
    }
    #fine_part .item{
        width: 576px;
    }
    #fine_part .item img{
         width: 150px;
    }
   
    #fine_part .item h2{
        margin-top: 40px;
        margin-right: 15px;
    }
    #fine_part .item p{
        text-align: center;
    }
    #fine_part .item .round_img img{
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }
    #fine_part .item .round_img{
        margin-top: -40px;
    }
    
    
    
    
    /*================#fine_part end=====================*/
    
    
     /*================appetis_part start=====================*/
    #appetis_part{
        padding: 50px 0;
    }
    #appetis_part .appetisers{
        width: 576px;
        margin-left: -18px;
    }
    #appetis_part .appetisers .head{
        margin-left: -40px;
    }
    #appetis_part .appetisers .head img{
        margin-bottom: 20px;
    }
    #appetis_part .appetisers .budge{
        margin-top: 0;
    }
    #appetis_part .appetisers .budge h2{
        margin-left: -40px;
    }
    #appetis_part .appetisers .budge h2 span{
        margin-left: 395px;
    }
    #appetis_part .appetisers .budge h2::after{
        width: 85%;
        left: 50px;
    }
    #appetis_part .appetisers .budge p{
        margin-left: 10px;
    }
    #appetis_part .appetisers .budge h2.side{
        padding-left: 10px;
    }
    #appetis_part .appetisers .res_andro span::after{
       
        width: 79%;
    }
    #appetis_part .appetisers .budge span.res_andro{
        
    }
    #appetis_part .appetisers .budge p.res_android{
        margin-left: 10px;
    }
    #appetis_part .appetisers .budge h2 span.long{
        margin-left: 310px;
    }
    #appetis_part .appetisers.res_side{
        
        margin-left: -60px;
    }
    #appetis_part .appetisers .budge h2 span{
        margin-left: 380px;
    }
    #appetis_part .res_side .budge h2.side{
       
    }
    #appetis_part .appetisers .budge h2 span.long2{
        margin-left: 340px;
    }
    #appetis_part .appetisers.upper{
        margin-top: 0;
        margin-left: -60px;
    }
    #appetis_part .appetisers .budge h2 span.long3{
        margin-left: 280px;
    }
    #appetis_part .appetisers .budge h2 span.long4{
        margin-left: 325px;
    }
    #appetis_part .appetisers .budge h2 span.long5{
        margin-left: 380px;
    }
    #appetis_part .appetisers.salads{
        margin-top: 0;
    }
    
    /*================appetis_part end=====================*/
    
    /*===============guest_part start====================*/
    #guest_part{
        
    }
    #guest_part .item{
        
        margin-left: 0;
    }
    #guest_part .item h2{
        margin-top: 40px;
        margin-left: -15px;
    }
    #guest_part .item p{
        padding: 0 10px;;
        margin-bottom: 50px;
        margin-left: -10px;
        font-size: 16px;
    }
    #guest_part .item img{
        width: 150px;
    }
    #guest_part .item p span{
        top: 0;
        left: 10px;
        font-size: 10px;
    }
    /*===============guest_part start====================*/
    
    
    
    /*================right_part start===================*/
    #right_part .item img{
        width: 50%;
    }

     #right_part .res_up{
        margin-left: 270px;
        margin-top: -450px;
    }
     #right_part .item .text{
        margin-top: 45px;
        margin-left: -20px;
    }
    /*================right_part end===================*/
    
    
    
    /*================footer_part start==================*/
    
    #footer_part .item{
        width: 320px;
        margin-left: 95px;
    }
    #footer_part .item.open{
        margin-left: -50px;
        margin-top: 30px;
    }
    #footer_part .item.res_an{
        margin-left: 210px;
        margin-top: -196px;
    }
    #footer_part .open p{
        margin-left: 75px;
    }
    #footer_part .item .head img{
        width: 135px;
    }
    #footer_part .open .img{
        margin-top: 10px;
    }
    #footer_part .res_location{
        margin-top: 40px;
    }
    #footer_part .item .head img{
        margin-top: -15px;
    }
    .my h2{
        font-size: 16px;
        margin-left: 150px;
    }
     /*================footer_part end==================*/
       
}
@media (min-width: 768px) and (max-width: 991px){
    /*================menu_bar satrt=====================*/
   
    #menu_bar .menu_inner .logo{
        width: 70px;
     
        margin-right: 10px;
    }
    #menu_bar .menu_inner .logo a{
        font-size: 20px;
    }
    #menu_bar .menu_inner .details_head{
        width: 210px;
       
    }
    #menu_bar .menu_inner .details_head a{
        padding: 0 5px;
        
         font-size: 16px;
    }
    /*================menu_bar end=====================*/
    
    /*================banner_part satrt=====================*/
    #banner_part{
        width: 768px;
    }
    #banner_part .overlay{
       padding-top: 0;
        padding-bottom: 50px;
    }
    #banner_part h1{
         margin-left: 0;
        font-size: 60px;
        width: 768px;
    }
    #banner_part img{
        margin-left: 260px;
        height: 30px;
        width: 210px;
    }
    #banner_part .book_see{
        width: 768px;
    }
    #banner_part .book_see a{
        margin-top: 10px;
    }
    #banner_part .overlay .item{
        padding-top: 80px;
    }
    
     /*================banner_part end=====================*/
    
      /*================just_part satrt=====================*/
    
    #just_part{
         width: 768px;
    }
    #just_part .item{
         width: 768px;
    }
    #just_part .item h2{
        margin-left: 100px;
        margin-top: 50px;
        margin-right: 150px;
    }
    #just_part .item img{
        margin-right: 60px;
    }
    #just_part .item p{
        padding: 0;
        margin-right: 50px;
        width: 630px
    }
    #just_part .sig{
        margin-left: 20px;
    }
    #just_part .plate img{
        width: 500px;
        margin-top: 20px;
        margin-left: 120px;
    }
    /*================just_part end=====================*/
    
    
    /*================#fine_part start=====================*/
/*
    #fine_part{
        width: 576px;
    }
    #fine_part .item{
        width: 576px;
    }
*/
    #fine_part .item img{
         width: 180px;
    }
   
    #fine_part .item h2{
        margin-top: 40px;
        margin-right: 15px;
    }
    #fine_part .item p{
        text-align: center;
    }
    #fine_part .item .round_img img{
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }
    #fine_part .item .round_img{
        margin-top: -40px;
    }
    
    
    
    
    /*================#fine_part end=====================*/
    
    
     /*================appetis_part start=====================*/
    #appetis_part{
        padding: 50px 0;
    }
    #appetis_part .appetisers{
        width: 576px;
        margin-left: 70px;
    }
    #appetis_part .appetisers .head{
        margin-left: -40px;
    }
    #appetis_part .appetisers .head img{
        margin-bottom: 20px;
    }
    #appetis_part .appetisers .budge{
        margin-top: 0;
    }
    #appetis_part .appetisers .budge h2{
        margin-left: -40px;
    }
    #appetis_part .appetisers .budge h2 span{
        margin-left: 395px;
    }
    #appetis_part .appetisers .budge h2::after{
        width: 85%;
        left: 50px;
    }
    #appetis_part .appetisers .budge p{
        margin-left: 10px;
    }
    #appetis_part .appetisers .budge h2.side{
        padding-left: 10px;
    }
    #appetis_part .appetisers .res_andro span::after{
       
        width: 79%;
    }
    #appetis_part .appetisers .budge span.res_andro{
        
    }
    #appetis_part .appetisers .budge p.res_android{
        margin-left: 10px;
    }
    #appetis_part .appetisers .budge h2 span.long{
        margin-left: 310px;
    }
    #appetis_part .appetisers.res_side{
        
        margin-left: 10px;
    }
    #appetis_part .appetisers .budge h2 span{
        margin-left: 380px;
    }
    #appetis_part .res_side .budge h2.side{
       
    }
    #appetis_part .appetisers .budge h2 span.long2{
        margin-left: 340px;
    }
    #appetis_part .appetisers.upper{
        margin-top: 0;
        margin-left: 10px;
    }
    #appetis_part .appetisers .budge h2 span.long3{
        margin-left: 280px;
    }
    #appetis_part .appetisers .budge h2 span.long4{
        margin-left: 325px;
    }
    #appetis_part .appetisers .budge h2 span.long5{
        margin-left: 380px;
    }
    #appetis_part .appetisers.salads{
        margin-top: 0;
    }
    
    /*================appetis_part end=====================*/
    
    /*===============guest_part start====================*/
    #guest_part{
        
    }
    #guest_part .item{
        
        margin-left: 0;
    }
    #guest_part .item h2{
        margin-top: 40px;
        margin-left: -15px;
    }
    #guest_part .item p{
        padding: 0 10px;;
        margin-bottom: 50px;
        margin-left: -10px;
        font-size: 25px;
    }
    #guest_part .item img{
        width: 150px;
    }
    #guest_part .item p span{
        top: 0;
        left: 10px;
        font-size: 10px;
    }
    /*===============guest_part start====================*/
    
    
    
    /*================right_part start===================*/
    #right_part .item img{
        width: 50%;
    }

     #right_part .res_up{
        margin-left: 360px;
        margin-top: -610px;
    }
     #right_part .item .text{
        margin-top: 70px;
        margin-left: -40px;
    }
    #right_part .item .form_part input{
        width: 270px;
    }
    #right_part .item .form_part2 input{
        width: 270px;
    }
    #right_part .item button{
        margin-left: 150px;
    }
    /*================right_part end===================*/
    
    
    
    /*================footer_part start==================*/
    
    #footer_part .item{
        width: 320px;
        margin-left: 190px;
    }
    #footer_part .item.open{
        margin-left: -20px;
        margin-top: 30px;
    }
    #footer_part .item.res_an{
        margin-left: 380px;
        margin-top: -196px;
    }
    #footer_part .open p{
        margin-left: 75px;
    }
    #footer_part .item .head img{
        width: 135px;
    }
    #footer_part .open .img{
        margin-top: 10px;
    }
    #footer_part .res_location{
        margin-top: 40px;
    }
    #footer_part .item .head img{
        margin-top: -15px;
    }
    .my h2{
        font-size: 16px;
        margin-left: 230px;
    }
     /*================footer_part end==================*/
       

}


@media (min-width: 992px) and (max-width: 1199px){
    /*================menu_bar satrt=====================*/
   
    #menu_bar .menu_inner .logo{
        width: 70px;
     
        margin-right: 10px;
    }
    #menu_bar .menu_inner .logo a{
        font-size: 20px;
    }
    #menu_bar .menu_inner .details_head{
        width: 210px;
       
    }
    #menu_bar .menu_inner .details_head a{
        padding: 0 5px;
        
         font-size: 16px;
    }
    /*================menu_bar end=====================*/
    
    /*================banner_part satrt=====================*/
   
    #banner_part .overlay{
       padding-top: 0;
        padding-bottom: 50px;
    }
    #banner_part h1{
         margin-left: 0;
        font-size: 70px;
    }
    #banner_part img{
        margin-left: 340px;
        height: 30px;
        width: 210px;
    }
    
    #banner_part .book_see a{
        margin-top: 10px;
    }
    #banner_part .overlay .item{
        padding-top: 80px;
    }
    
     /*================banner_part end=====================*/
    
      /*================just_part satrt=====================*/
    
    #just_part{
/*         width: 768px;*/
        padding-bottom: 50px;
    }
    #just_part .item{
/*         width: 768px;*/
    }
    #just_part .item h2{
        margin-left: 150px;
        margin-top: 50px;
        margin-right: 135px;
        font-size: 30px;
    }
    #just_part .item img{
        margin-right: -25px;
    }
    #just_part .item p{
        padding: 0;
        margin-right: 50px;
        width: 490px
    }
    #just_part .sig{
        margin-left: 20px;
    }
    #just_part .plate img{
        width: 350px;
        margin-top: 80px;
        margin-left: 120px;
    }
    /*================just_part end=====================*/
    
    
    /*================#fine_part start=====================*/
/*
    #fine_part{
        width: 576px;
    }
    #fine_part .item{
        width: 576px;
    }
*/
    #fine_part .item img{
         width: 180px;
    }
   
    #fine_part .item h2{
        margin-top: 40px;
        margin-right: 15px;
    }
    #fine_part .item p{
        text-align: center;
    }
    #fine_part .item .round_img img{
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }
    #fine_part .item .round_img{
        margin-top: -40px;
    }
    
    
    
    
    /*================#fine_part end=====================*/
    
    
     /*================appetis_part start=====================*/

    #appetis_part .appetisers .budge h2 span{
        margin-left: 210px;
    }
    #appetis_part .appetisers .budge h2 span.long{
        margin-left: 130px;
    }
     #appetis_part .appetisers .budge h2 span.long2{
        margin-left: 170px;
    }
    #appetis_part .appetisers .budge h2 span.long4{
        margin-left: 160px;
    }
    #appetis_part .appetisers .budge h2 span.long5{
        margin-left: 210px;
    }
    
    /*================appetis_part end=====================*/
    
    /*===============guest_part start====================*/
    #guest_part{
        
    }
    #guest_part .item{
        
        margin-left: 0;
    }
    #guest_part .item h2{
        margin-top: 40px;
        margin-left: -15px;
    }
    #guest_part .item p{
        padding: 0 10px;;
        margin-bottom: 50px;
        margin-left: -10px;
        font-size: 30px;
    }
    #guest_part .item img{
        width: 150px;
    }
    #guest_part .item p span{
        top: 0;
        left: 10px;
        font-size: 10px;
    }
    /*===============guest_part start====================*/
    
    
    
    /*================right_part start===================*/
    #right_part .item{
        margin-left: -60px;
    }
    #right_part .item img{
        width: 105%;
        margin-left: 50px;
    }
    #right_part .res_up{
        margin-top: 25px;
    }
     #right_part .res_tab{
        margin-top: -10px;
    }
/*
    #right_part .item img{
        width: 50%;
    }

     #right_part .res_up{
        margin-left: 360px;
        margin-top: -610px;
    }
     #right_part .item .text{
        margin-top: 70px;
        margin-left: -40px;
    }
    #right_part .item .form_part input{
        width: 270px;
    }
    #right_part .item .form_part2 input{
        width: 270px;
    }
    #right_part .item button{
        margin-left: 150px;
    }
*/
    /*================right_part end===================*/
    
    
    
    /*================footer_part start==================*/
    #footer_part .item{
        width: 320px;
        margin-left: 0;
    }
    #footer_part .item.open{
        margin-left: 10px;
        margin-top: 0;
    }
    #footer_part .item.res_an{
        margin-left: 0;
        margin-top: 0;
    }
    .my h2{
        font-size: 16px;
        margin-left: 360px;
    }
     /*================footer_part end==================*/
       

}